.list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
}

.drops {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
}

.pannel {
      width: 97%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
}

.btns {
      display: flex;
      gap: 10px;
}
.events{
      display: flex;
      gap: 10px;
      font-size: 16px;
      font-weight: 500;
}